<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>You have booked your flight, <%= @passenger.first_name %>!</h1>
<p>Booking ID: <%= @booking.id %></p>
<p>Flight ID: <%= @booking.flight.id %></p>
<p>Departing from: <%= @booking.flight.departure_airport.city %></p>
<p>Arriving to: <%= @booking.flight.arrival_airport.city %></p>
<p>Date: <%= @booking.flight.datetime.strftime("%d-%m-%Y") %></p>
<p>Time: <%= @booking.flight.datetime.strftime("%I:%M %p UTC") %></p>
<p>Thank you for booking your flight with us. Safe travels!</p>
</body>
</html>

