<h1>Flight Booker</h1>
<%= form_with url: flights_path, method: :get do |form| %>
  <%= form.label :departure_airport, "From: " %>
  <%= form.select :departure_airport, @airports, selected: params[:departure_airport] %> <br><br>
  <%= form.label :arrival_airport, "To: " %>
  <%= form.select :arrival_airport, @airports, selected: params[:arrival_airport] %> <br><br>
  <%= form.label :date, "Date: " %>
  <%= form.select :date, @dates, selected: params[:date] %> <br><br>
  <%= form.label :tix_num, "Number of passengers: " %>
  <%= form.select :tix_num, (1..4).to_a %> <br><br>
  <%= form.submit "Search"%>
<% end %>

<% if @exact_matches.any? %>
  <h3>From <%= params[:departure_airport] %>, to <%= params[:arrival_airport] %>, on <%= @date.strftime("%d-%m-%Y") %>:</h3>
  <%= form_with url: flights_path, method: :get do |form| %>
    <%= form.collection_radio_buttons :booking, @exact_matches, :id, :date %><br><br>
    <%= form.submit "Book Flight" %>
  <% end %>
<% else %>
  <% if params[:date] %>
  <h3>There are no exact flights that match your search, however these flights might be related to your search.</h3>
    <% end %>

  <%= render "shared/flight_list", key: :departure_airport, results: @departure_results.order(datetime: :asc), verb: "from" %>
  <%= render "shared/flight_list", key: :arrival_airport, results: @arrival_results.order(datetime: :asc), verb: "to" %>

  <% if params[:date] %>
    <h4>Flights on: <%= params[:date] %></h4>
    <ul>
      <% @date_results.each do |result|%>
        <li>From: <%= result.departure_airport.city %>, to: <%= result.arrival_airport.city %> at <%= result.datetime.strftime("%I:%M%p") %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>

