<h1>Flight Booker</h1>
<%= form_with url: flights_path, method: :get do |form| %>
  <%= form.label :departure_airport, "From: " %>
  <%= form.select :departure_airport, @airports %> <br><br>
  <%= form.label :arrival_airport, "To: " %>
  <%= form.select :arrival_airport, @airports %> <br><br>
  <%= form.label :date, "Date: " %>
  <%= form.select :date, @dates %> <br><br>
  <%= form.submit "Search"%>
<% end %>

<ul>
  <% @results.each do |result|%>
    <li><%= result.datetime %></li>
  <% end %>
</ul>